{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title> </title>
      <link rel="stylesheet" href="../../static/Tasks/static_files/css/styles.css"/>

    <!-- Bootstrap core CSS -->


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
      <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>

      <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                {% include "Tasks/navbar.html" %}
            </div>
        </div>

       <div class="row navbar-margin-top" >
        <div class="row">
            <div class="col-sm-3">
                <a class="  btn btn-primary btn-lg" href="/projectscheduler/add_task"
                   id="add_task_button" >+ new task</a>
            </div>
            <div class="col-sm-5">
              <form action="#" method="post">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-sm-5">
                           <div class="input-group worker_id-box">

                      <input type="text" class="input-sm" value="1" name="worker_id">
                      <span class="help-block">enter worker id</span>
                           </div>

                      </div>
                       <div class="col-sm-5">
                               <input class="btn btn-success btn-lg " type='submit'
                                   id="add_selected_task_button" name="add_selected_task_button"
                                   value="confirm worker" >
                       </div>
                  </div>
              </form>
             </div>
        </div>

        <div class="row4 navbar-margin-top ">
            <div class="col-lg">
                <table id="predictions_table" class="display table table-striped table-bordered">
                <thead>
               <tr>
                   <th>Worker </th>
                   <th>Extra Tree Regression </th>
                   <th>Random Forest
                       Regression </th>
                   <th>XGB Regression </th>
               </tr>
               </thead>

                   <tbody>
                   {% for item in prediction %}
                   <tr >
                    <th> {{item.worker}} </th>
                       <td> {{item.etree }} </td>
                       <td> {{item.rforest }} </td>
                .       <td> {{item.xgb }} </td>
                   </tr>

                      {% endfor %}
                   </tbody>
            </table>
            </div>
        </div>

       </div>
    </div>
    <script>
        var selected_button = $("#add_selected_task_button");
        var selected_row;
        $(document).ready(function () {
            $.noConflict()
            $("#predictions_table").dataTable();

            console.log('doc ready function');

            $('#predictions_table tbody').on('click', 'tr', function () {
                selected_row = table.row($(this).closest('tr')).data()
            });
        });

    </script>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
