 <nav class="navbar navbar-inverse navbar-fixed-top  ">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/projectscheduler">project scheduler</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/projectscheduler/add_task">add task</a></li>
              <li><a href="/workers">workers</a></li>
              <li><a href="/projectscheduler/tasks">tasks</a></li>
            <li><a href="/projectscheduler">methods' comparison</a></li>
              <li>
                  <a>
                  <form action="#" method="get">
                  <input type="submit" class="navbar-button" value="retrain"
                         name="refresh_btn">
                    </form>
                  </a>
             </li>
            <li><a href="{% url 'admin:index' %}">administration</a></li>
          </ul>
        </div>
      </div>
    </nav>