.navbar-margin-top{
    margin-top: 70px;
}

.navbar-button{
    background-color: transparent;
    color: #9d9d9d;
    border: none;
    padding: 0px;
    font-size: inherit;
    outline: none;

}

.navbar-button:hover {
    color: #fff;
    background-color: transparent;
}

.visibility-none {
    display: none;
}

.slider-selection {
    background: #BABABA;
}
.estimated-time-box{
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 8px;

}

