{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title> </title>
      <link rel="stylesheet" href="../../static/Tasks/static_files/css/styles.css"/>
      <link rel="script" href="../../static/Workers/static_files/py/template_filters.py">
    <!-- Bootstrap core CSS -->

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.min.css">

      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
      <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.12/datatables.min.js"></script>


      <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
      <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                {% include "Tasks/navbar.html" %}
            </div>
        </div>


        <div class="row navbar-margin-top">
            <div class="col-lg">
                <table id="workers_table" class="display table table-striped .table-bordered ">
                    <thead>
               <tr>
        {#           <th>Worker </th>#}
                   <th>Worker name </th>
                   {% for item in skills %}
                   <th> {{ item.name }}</th>
                   {% endfor %}
               </tr>
                    </thead>
                <tbody>
                {% for item in workers %}
                <tr >
                    <th> {{item}}  </th>

                    {% for skill in item.get_worker_skills%}
                         <td>{{skill}}</td>
                        {{ skill }}
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <script>
          $(document).ready(function () {
            $.noConflict()
            $("#workers_table").dataTable();});
    </script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
